<div class="container-fluid">
  <h3>Welcome!</h3>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-4">
    	<div>
    		<button class="new_post">New Post</button>
    	</div>
    	<div>
    		<button class="view_queue">View Queue</button>
    	</div>
    </div>
    <div class="col-lg-8">
      <form>
  			<div class="form-group">
    			<label for="formGroupExampleInput">Post Title</label>
    			<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Please input a title here">
  			</div>
			</form>	

      <form>
      	<div class="form-group">
    			<label for="exampleTextarea">Post Content</label>
    			<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  			</div>
      </form>

      <input type="checkbox" checked data-toggle="toggle">
    </div>
  </div>
</div>

<div class="alert alert-danger" *ngIf="!auth.authenticated()"> 
	<strong>	
		You are logged Out 
	</strong>
</div>