h1 {
  color: #369;
  text-align: center;
}

.nav a {
  color: #5a5a5a;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.modal modal-header {
	text-align: center;	
}

.modal modal-footer {
  
}